:root {
  --border-base: 1px solid rgb(224, 224, 224);
  --bg-color-aside: rgb(52, 187, 156);
  --bg-color-list--active: rgb(242, 242, 242);
  --bg-color-chat: rgb(247, 247, 247);
  --bg-color-chat-content: rgb(255, 255, 255);
  --bg-color-chat-content-ower: rgb(203, 247, 237);
  // font color
  --font-color-sencond: rgb(102, 102, 102);
  --font-color-base: rgb(51, 51, 51);
}
